body{
    margin: 0;
    padding: 0;
    font-family: "Inter", Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #17191e;
    overflow: hidden;
}

.home-wrapper{
    height: 100%;
    position: relative;
    width: 100%;
}

main{
    padding: 12% 0;
    height: 100%;
    width: 100%;
}

.searchbar-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.searchform-container{
    padding-left: 28px;
    position: relative;
    z-index: 1;
    height: 50%;
    width: 40%;
    margin-top: -2rem;
}

.logo{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3rem;

}

#searchform{
    align-items: center;
    background-color: #242731;
    border: 1px solid #30393d;
    border-radius: 16px;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, .8) , 0px 1px 0px 0px rgba(255, 255, 255, .15);
    display: flex;
    height: 48px;
    max-width: inherit;
    position: relative;
    width: 100%;
}

#searchform.autocomplete-active{
    border-radius: 16px 16px 0 0;
}

#searchbox{
    align-items: center;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border: none;
    box-shadow: none;
    color: #f3f5f7;
    display: flex;
    flex-grow: 1;
    height: 100%;
    outline: none;
    padding: .8rem 16px;
    padding-left: 1.2rem;
    position: relative;
    width: 100%;
}

.font{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 1.3rem;
}

.searchform-actions{
    align-items: center;
    display: flex;
    gap: .4rem;
    height: 100%;
    padding-right: .4rem;
    position: relative;
}

.searchform-actions-button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 34px;
    justify-content: center;
    padding: .4rem;
    width: 34px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    overflow: hidden;
}

#submit-button{
    fill: #fa7250;
}

#clear-query-button{
    fill: #424f55;
}

.clear-query-devider{
    background-color: #424f55;
    height: 24px;
    margin: 0 .4rem;
    width: 1px;
}

#submit-button:hover{
    background: linear-gradient(314deg, #fa7250 8.49%, #ff1893 43.72%, #a78aff 99.51%);
    fill: white;
}

#clear-query-button:hover{
    border: 1px solid #30393d;
    fill: white;
}

a{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    font-size: 24px;
    height: auto;
}

p{
    margin: 0;
}

#autocomplete{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    outline: 1px solid #30393d;
    border-radius: 0 0 16px 16px;
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, .8) , 0px 1px 0px 0px rgba(255, 255, 255, .15);
}


.suggestions{
    display: block;
    background-color: #242731;
    border-radius: 0 0 16px 16px;
    padding-bottom: .7rem;
}

.suggestion{
    background: none;
    border: none;
    width: 100%;
    text-align: start;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.2px;
    line-height: 1.3rem;
    padding: .2rem .4rem;
    color: #f3f5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestion-wrapper{
    align-items: center;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    height: 3rem;
}

.icon-wrapper{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: .4rem;
    padding: .3rem;
    align-items: center;
    fill: #f3f5f7;
}

.suggestion:hover{
    cursor: pointer;
    background: #17191e;
}

.waves{
    z-index: -1;
    position: absolute;
    background-image: url('./waves.svg');
    background-repeat: no-repeat;
    background-size: 150% 100%;
    width: 100%;
    height: 25%;
    opacity: .3;
}

.top-wave{
    transform: scale(-1, -1);
    background-position: left bottom;
}

.bottom-wave{
    bottom: 0;
    background-position: left bottom;
}
